*.log
*.pyc
.cache/
.coverage
.idea/
.mypy_cache/
.vscode/
build/
dist/
docs/build/*
docs/source/*
!_templates/
!conf.py
!index.rst
!README_link.rst
indexdir/
okgraph_algorithms/
okgraph.egg-info/
tests/data/
venv/
