*.log
*.pyc
.cache/
.coverage
.idea/
.mypy_cache/
.vscode/
build/
dist/
docs/build/*
docs/source/*
!apidoc_template/
!conf.py
!index.rst
!README_link.rst
indexdir/
okgraph_algorithms/
okgraph.egg-info/
tests/data/
venv/
