-e .
wheel
cython
six
gensim
annoy
pymagnitude
lz4
xxhash
fasteners
torch===1.6.0 --install-option='-f https://download.pytorch.org/whl/torch_stable.html'
torchvision===0.7.0 --install-option='-f https://download.pytorch.org/whl/torch_stable.html'
h5py
tqdm
numpy
nltk
scipy
whoosh
sklearn
pytest
sphinx
recommonmark
m2r