-e .
wheel
cython
six
# gensim==3.8.3 for pymagnitude backwards compatibility
gensim==3.8.3
annoy
pymagnitude
lz4
xxhash
fasteners
# torch tested with version 1.8.1
torch
# torchvision tested with version 0.9.1
torchvision
h5py
tqdm
numpy
nltk
scipy
whoosh
sklearn
pytest
sphinx
recommonmark
m2r
transformers